{% extends "base.html" %}

{% block content %}
  <div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Category creation</h2>
    <form action="/documents/categories/add" method="POST" class="space-y-4">
        <div class="form-control">
            <label class="label">
                <span class="label-text">Name</span>
            </label>
            <input type="text" name="name" placeholder="Enter name" class="input input-bordered w-full" required>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Description</span>
            </label>
            <textarea name="description" placeholder="Enter description" class="textarea textarea-bordered w-full" required></textarea>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Depth</span>
            </label>
            <input type="number" name="depth" placeholder="Enter depth" class="input input-bordered w-full">
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Parents</span>
            </label>
            <input type="text" name="parents" placeholder="Enter parents (with `,` as separator)" class="input input-bordered w-full">
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Children</span>
            </label>
            <input type="text" name="children" placeholder="Enter children (with `,` as separator)" class="input input-bordered w-full">
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Documents</span>
            </label>
            <input type="text" name="docs" placeholder="Enter documents (with `,` as separator)" class="input input-bordered w-full">
        </div>
        <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
  </div>
{% endblock %}
