{% extends 'base.html' %}

{% block content %}

<div class="max-w-md mx-auto bg-gray-900 p-6 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4 text-center">Вход</h2>
  <form action="/login" method="POST">
      <div class="mb-4">
          <label for="email" class="block text-sm font-medium">Электронная почта</label>
          <input type="email" id="email" name="email" required class="mt-1 block w-full p-2 bg-gray-700 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-blue-500" placeholder="Введите вашу электронную почту">
      </div>
      <div class="mb-4">
          <label for="password" class="block text-sm font-medium">Пароль</label>
          <input type="password" id="password" name="password" required class="mt-1 block w-full p-2 bg-gray-700 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-blue-500" placeholder="Введите ваш пароль">
      </div>
      <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 rounded">Войти</button>
  </form>
</div>

{% endblock %}
